<section class="container">
  <h3 class="gallery-name">{{dream.title}}</h3>
  <p>posted on {{dream.date}} by {{dream.user.username}}</p>
  <section class="flex-row justify-center">
    {{dream.content}}
  </section>
  <section>
    {{dream.lucid}}
    {{dream.nightmare}}
    {{dream.tag}}
  </section>
</section>

<script src="/js/parseDreamData.js"></script>