<section class="single-dream-contain">
  <h3>{{dream.title}}</h3>
  <p>posted on {{dream.date}} by {{dream.user.username}}</p>
  <section class="flex-row justify-center">
    <div class="single-dream-content">{{dream.content}}</div>
  </section>
  <section>
    <div>lucid dream? {{dream.lucid}}</div>
    <div>nightmare scale: {{dream.nightmare}} out of 100!</div>
    <div>tags: {{format_tags dream.tag}}</div>
  </section>

  <div class="form-group">
        <button class="btn btn-dark delete-dream-btn " type="submit">delete dream</button>
  </div>
</section>

<script src="/js/deleteDreamBtn.js"></script>
